html {
    font-family: 'IBM Plex', monospace;
    box-sizing: border-box !important;
}



body {
    margin: 0;
    background-image: repeating-linear-gradient(to right, gray 0%, rgb(231, 228, 228) 20%)
}

*::selection{
    background-color: rgb(129, 129, 129);
}



section#sec {
    margin: 0 20%;
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-image: linear-gradient(180deg ,rgb(211, 221, 208), rgba(171, 173, 165, 0.815));
    /* background-color: rgb(135, 151, 165); */
    /* border-right: 1px solid rgb(41, 39, 39); */
    align-items: center;
    position: relative;
    overflow-x: hidden;
}


h1 {

    margin: 0;
    padding: 30px 0px;
    text-align: center;
    color: rgb(19, 19, 19);
    /* border-bottom: 2px solid rgba(85, 78, 78, 0.836); */
    width: 100%;
    font-family: sans-serif;
    
    background-color: rgba(164, 168, 157, 0.493);
    text-shadow: 2px 3px 2px rgba(88, 88, 87, 0.274);

}

#underline {
    margin: 0 5%;
    height: 2px;
    width: 90%;
    background-image: linear-gradient(90deg, rgba(172, 168, 168, 0.096), rgb(46, 43, 43), rgba(156, 155, 155, 0.048));
    /* background-color: black; */
}

p#instruction {
    /* padding-left: 20px; */
    padding-top: 30px;
    text-align: center;
    opacity: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#quote-div {
    background-color: rgba(240, 194, 151, 0);
    /* min-height: vh; */
    padding: 0 2rem;
}

#quote {
    max-width: 65ch;
    line-height: 1.7;
}

#dash {
    padding-left: 2rem;
    opacity: 65%;
}

#next-quote {
    font-family: monospace;
    margin: 15px auto;
    width: 100px;
    height: 30px;
    border-radius: 25px;
    box-shadow: -0px 2px 1px  rgba(134, 90, 8, 0.822);
    border: 1px solid;
    border: none;
    background-color: rgba(241, 167, 56, 0.658);
    /* opacity: 40%; */
    /* background-color: rgba(173, 126, 64, 0.11); */
    font-weight: 500;
    transition: all linear 20ms;
    
}

#next-quote:hover {
    filter: brightness(120%);
    cursor: pointer;

}

#next-quote:active {
    filter: brightness(100%);
    box-shadow: none;
}


#input-box {
    margin-top: 15px;
    width: 70%;
    background-color: rgba(255, 121, 255, 0);

}


#my-text-area {
    box-sizing: border-box;
    width: 100%;
    padding: 7px;
    margin: 0;
    resize: none;
    overflow-y: hidden;
    overflow-x: hidden;
    /* overflow: scroll; */
    border-style: none;
    font-size: large;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(255, 255, 255, 0.384);
}

#my-text-area:hover {
    background-color: rgba(255, 255, 255, 0.493);
}

#my-text-area:focus-visible {
    outline: none;
    background-color: rgba(255, 255, 255, 0.788);
}




#error {
    width: 100%;
    height: 6.5px;
    background-color: rgb(5, 161, 5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#progress {
    background-color: rgb(0, 89, 255);
    /* height: 4px; */
}


#stats-container {
    margin-top: 5%;
    background-color: rgba(240, 248, 255, 0);
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}

.stat {
    width: 30%;
    padding: 10px 0;
    background-image: linear-gradient(rgba(134, 132, 132, 0.397), rgba(194, 187, 187, 0));
    /* border: 1px solid rgba(0, 0, 0, 0.356); */
    text-align: center;

}

.stat-p {
}


@media screen and (max-width:800px) {
    section#sec {
        margin: 0;
    }
}

 
