html {
    font-family: 'IBM Plex', monospace;
    box-sizing: border-box !important;
    /* width: 100vw; */
    /* height:100vh; */
}


body {
    margin: 0;
    background-image: repeating-linear-gradient(to right, gray 0%, rgb(231, 228, 228) 20%)
}

html, body {
    height: 100%;
}

section#sec {
    margin: 0 15%;
    /* height: 100vh; */
    /* height: 100cqmax; */
    /* height: ; */
    min-height: 100vh;
    height: auto;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    background-image: linear-gradient(180deg ,rgba(74, 182, 41, 0.904), rgba(195, 248, 69, 0.815));
    /* background-color: rgb(135, 151, 165); */
    border-right: 1px solid rgb(41, 39, 39);
}


h1 {
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    color: rgb(70, 72, 73);
    /* border-bottom: 2px solid rgba(85, 78, 78, 0.836); */
    width: 100%;
    /* margin: 0 5%; */
    background-color: rgba(176, 240, 79, 0.534);

}

#underline {
    margin: 0 5%;
    height: 2px;
    width: 90%;
    background-image: linear-gradient(90deg, rgba(172, 168, 168, 0.096), rgb(46, 43, 43), rgba(156, 155, 155, 0.048));
    /* background-color: black; */
}

p#instruction {
    padding-left: 20px;

}

#text {
    font-weight: bold;
    text-align: center;
}

#input-box {

    margin: 0 20%;
}

#input {
    width: 90%;
    max-height: 40px;
    box-sizing: border-box;
    background-color: rgb(229, 233, 236);
    border-width: 0px 0px 0px 2px;
    padding: 4px 7px 4px;
    font-size: 15px;
}


#error {
    width: 90%;
    height: 6.5px;
    background-color: rgb(5, 161, 5);
}

#progress {
    background-color: rgb(0, 89, 255);
    /* height: 4px; */
}

.checklist p {
    display: inline
}

/* add a this class when the item is checked if the class is not already present */
.completed {
    text-decoration: line-through;
}


/* selector specificity (ID, class/pseudo-class/attribute-selector, type/html element)
the selector with the greater specificity in the ID column takes precedence, if two selectors have the same ID specificity
the class column is checked, and if these two are also the same then the last column is checked.*/
#p1-parent>#p1 {
    color: rgb(15, 47, 48);
}

#p1 {
    color: rgb(219, 100, 219);
}

.item {
    color: rgb(223, 21, 21);
}

.checklist .item {
    color: blue;

}
